<div>
    <h1>FORMULARIO MATERIAL - PRUEBA</h1>
    <form class="formulario" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>NOMBRE</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>APELLIDO</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>EDAD</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>TELEFONO</mat-label>
                <input matInput>
            </mat-form-field>
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </form>
</div>